@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /*Custom font styles*/
  --font-sgothic:  "Science Gothic", sans-serif;
  --font-montser: "Montserrat", sans-serif;
  /* Define the animation utilities (these create the .animate-xxx classes) */
  --animate-moving-y: move 7s linear infinite;
  --animate-rotating: rotate 30s linear infinite;
  --animate-scaling-up: scaleUp 7s linear infinite;
  /* Define the actual @keyframes */
  @keyframes move {
    50% {
      transform: translateY(-1rem);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.5);
    }
  }
}
*{
  @apply box-border;
}
body{
  @apply font-montser overflow-hidden bg-stone-50;
}
.nav-link{
  @apply text-lg font-bold duration-300;
}
.nav-link:hover{
  @apply text-green-500;
}
section{
  @apply p-20 md:p-28;
}
h1{
  @apply text-xl md:text-4xl xl:text-5xl font-bold;
}
.btn{
  @apply px-5 py-2 duration-300;
}
.btn span{
  @apply font-bold;
}
.btn:hover{
  @apply opacity-90 cursor-pointer;
}
.btn_outline{
  @apply bg-transparent;
}
.btn_outline:hover{
  @apply bg-yellow-300;
}